<h1><%= @merchant.name %> Discounts</h1>

<%= link_to "Create Bulk Discount", new_merchant_bulk_discount_path %>

<% if @bulk_discounts.any? %>
  <% @bulk_discounts.each do |discount| %>
    <div id=<%= "merchant-discount-#{discount.id}" %> >
      <%= label "#{discount.id}", "Id:" %>
      <%= link_to "#{discount.id}", merchant_bulk_discount_path(@merchant, discount) %>
      <%= "Discount: #{discount.discount}%" %>
      <%= "Threshold: #{discount.threshold} Items" %>
      <%= link_to "Delete", merchant_bulk_discount_path(@merchant, discount), method: :delete %>
    </div>
  <% end %>
<% end %>

<div id="next-3-holidays" >
  <h2>Next Three Holidays</h2>
  <% Api::Date::DateService.date_api_holidays.each do |holiday| %>
    <ul>
      <li><%= "#{holiday[:name]}: #{holiday[:date]}" %></li>
    </ul>
  <% end %>
</div>
