<h1>New Bulk Discount</h1>

<%= form_with url: merchant_bulk_discounts_path, method: :post, local: true do |f| %>
  <%= f.label :discount %>
  <%= f.text_field :discount %>
  <%= f.label :threshold %>
  <%= f.text_field :threshold %>
  <%= f.submit "Submit" %>
<% end %>
