<h1>New Bulk Discount</h1>

<%= form_with url: "/merchant/#{params[:merchant_id]}/bulk_discounts", method: :post, local: true do |f| %>
  <%= f.label :discount %>
  <%= f.text_field :discount %>
  <%= f.label :threshold %>
  <%= f.text_field :threshold %>
  <%= f.submit "Submit" %>
<% end %>